<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h3>Create a Tuple</h3>

Create a tuple  <code> (0,1,2,3) </code> and assign it to variable <code>A</code>:

In [3]:
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

<details><summary>Click here for the solution</summary>

```python
A = (0,1,2,3)
print(A)
```

</details>

<h3>Find the Elements of a Tuple</h3>

Find the first two elements of tuple <code> A </code>:

In [4]:
A[0:2]

(0, 1)

<details><summary>Click here for the solution</summary>

```python
A[0:2]
```

</details>

<h3>Lists </h3>

For the next few questions, you will need the following list:

In [5]:
B=["a","b","c"]

Find the first two elements of the list <code> B</code>:

In [6]:
B[0:2]

['a', 'b']

<details><summary>Click here for the solution</summary>

```python
B[0:2]
```

</details>

Change the first element of the list to an uppercase <code>"A"</code>.

In [7]:
B[0] = 'A'
print(B)

['A', 'b', 'c']

<details><summary>Click here for the solution</summary>

```python
B[0] = 'A'
print(B)
```

</details>

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>