<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01794003/blob/main/Actividad_Semanal_6%2C_visualizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Actividad Semanal -- 5 Actividad Semanal -- 6, visualización

#Nombre Juan Villamil

#Matricula:A01794003

#correo: A01794003@tec.mx

#Materia: Ciencia y Analítica de Datos.

#Fecha: 30/10/2022.

#Profesor titular: María de la Paz Rico Fernández.

#Profesor tutor: Orlando Figón Cruz.

Visualización de los datos

Considera los siguientes artículos para desarrollar tu actividad:

Shanthababu, P. (2021). Effective Data Visualization Techniques in Data Science Using Python. Analytics Vidhya. Recuperado de: https://www.analyticsvidhya.com/blog/2021/08/effective-data-visualization-techniques-in-data-science-using-python/Enlaces a un sitio externo.

Rajbangshi, A. (2020). Importance of Data Storytelling in Data Science. Artificial Intelligence in Plain English. Recuperado de: https://ai.plainenglish.io/importance-of-data-storytelling-in-data-science-494f49273027Enlaces a un sitio externo.

Das, A. (2020). Data Visualization in Data Science. Towards Data Science. Recuperado de: https://towardsdatascience.com/data-visualization-in-data-science-5681cbdde5bfEnlaces a un sitio externo.

Nota link



Data Set Information:

This research aimed at the case of customers default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. Because the real probability of default is unknown, this study presented the novel â€œSorting Smoothing Methodâ€ to estimate the real probability of default. With the real probability of default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. Therefore, among the six data mining techniques, artificial neural network is the only one that can accurately estimate the real probability of default.


Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
X2: Gender (1 = male; 2 = female). 
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
X4: Marital status (1 = married; 2 = single; 3 = others). 
X5: Age (year). 
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005. 


Relevant Papers:

Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.



Citation Request:

Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.

1: Descarga los datosEnlaces a un sitio externo. y carga el dataset en tu libreta. Descripción aquí.

In [154]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
csv_path = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df = pd.read_csv(csv_path, index_col=0)
df
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

2: Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

In [11]:
df.shape
#info data

(30000, 24)

In [29]:
df.rename(columns = {"X1": "Amount", "X2": " Gender", "X3": "Education", "X4" : "Marital status ", "X5" : "Age (year)",
                     "X6": "SEP", "X7": "AGO", "X8":"JUL", "X9": "JUN", "X10":"MAY", "X11": "AABR", "X12": "SEP", "X13": "AGO", "X14": "JUL", "X15":"JUN"})

,Amount,Gender,Education,Marital status,Age (year),SEP,AGO,JUL,JUN,MAY,...,JUN,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [30]:
df.columns
#

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11',
       'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21',
       'X22', 'X23', 'Y'],
      dtype='object')

In [31]:
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [32]:
df.dtypes

X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29958 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      29958 non-null  int64
 1   X2      29958 non-null  float64
 2   X3      29958 non-null  float64
 3   X4      29958 non-null  float64
 4   X5      29958 non-null  float64
 5   X6      29958 non-null  float64
 6   X7      29958 non-null  float64
 7   X8      29958 non-null  float64
 8   X9      29958 non-null  float64
 9   X10     29958 non-null  float64
 10  X11     29958 non-null  float64
 11  X12     29958 non-null  float64
 12  X13     29958 non-null  float64
 13  X14     29958 non-null  float64
 14  X15     29958 non-null  float64
 15  X16     29958 non-null  float64
 16  X17     29958 non-null  float64
 17  X18     29958 non-null  float64
 18  X19     29958 non-null  float64
 19  X20     29958 non-null  float64
 20  X21     29958 non-null  float64
 21  X22     29958 non-null  float64
 22  X23     29958 non-null  float64
 23  Y       29958 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [34]:
df.isna().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [35]:
df.isna()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

3: Limpia los datos eliminando los registros nulos o rellena con la media de la columna

In [36]:
df.dropna(inplace = True)

In [37]:
df.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [38]:
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [39]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
X1,29958.0,167555.900928,129737.299088,10000.0,50000.00,140000.0,240000.00,1000000.0
X2,29958.0,1.604012,0.489070,1.0,1.00,2.0,2.00,2.0
X3,29958.0,1.853094,0.790471,0.0,1.00,2.0,2.00,6.0
X4,29958.0,1.551739,0.521952,0.0,1.00,2.0,2.00,3.0
X5,29958.0,35.483443,9.214319,21.0,28.00,34.0,41.00,79.0
X6,29958.0,-0.017124,1.123989,-2.0,-1.00,0.0,0.00,8.0
X7,29958.0,-0.134021,1.197171,-2.0,-1.00,0.0,0.00,8.0
X8,29958.0,-0.166767,1.196026,-2.0,-1.00,0.0,0.00,8.0
X9,29958.0,-0.221110,1.168419,-2.0,-1.00,0.0,0.00,8.0
X10,29958.0,-0.266807,1.132307,-2.0,-1.00,0.0,0.00,8.0
X11,29958.0,-0.291575,1.149303,-2.0,-1.00,0.0,0.00,8.0
X12,29958.0,51248.119901,73674.949943,-165580.0,3559.25,22379.0,67190.00,964511.0
X13,29958.0,49200.493825,71211.232744,-69777.0,2984.00,21194.5,64027.75,983931.0
X14,29958.0,47032.385273,69385.243340,-157264.0,2664.75,20085.5,60183.00,1664089.0
X15,29958.0,43279.335370,64364.684347,-170000.0,2327.50,19037.5,54551.25,891586.0
X16,29958.0,40328.984578,60826.219326,-81334.0,1762.25,18104.5,50220.75,927171.0
X17,29958.0,38889.925763,59582.883301,-339603.0,1256.00,17067.5,49234.75,961664.0
X18,29958.0,5664.614460,16568.823518,0.0,1000.00,2100.0,5007.00,873552.0
X19,29958.0,5925.715468,23055.983864,0.0,835.25,2009.0,5000.00,1684259.0
X20,29958.0,5228.429969,17617.338167,0.0,390.00,1800.0,4511.50,896040.0
X21,29958.0,4829.873556,15676.205514,0.0,296.25,1500.0,4014.75,621000.0
X22,29958.0,4801.481574,15285.552652,0.0,253.25,1500.0,4040.00,426529.0
X23,29958.0,5220.708025,17788.983767,0.0,118.00,1500.0,4000.00,528666.0
Y,29958.0,0.221143,0.415023,0.0,0.00,0.0,0.00,1.0

In [55]:
df = df.copy()
df[df['X2'].isna()]

Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 24 columns]

4: Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

In [50]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [53]:
df[[ 'X1','X2', 'X3', 'X4', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'Y']].describe()

,X1,X2,X3,X4,X6,X7,X8,X9,X10,X11,X12,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,-0.291575,51248.119901,0.221143
std,129737.299088,0.489070,0.790471,0.521952,1.123989,1.197171,1.196026,1.168419,1.132307,1.149303,73674.949943,0.415023
min,10000.000000,1.000000,0.000000,0.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3559.250000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22379.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67190.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,1.000000

In [43]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
X1,29958.0,167555.900928,129737.299088,10000.0,50000.00,140000.0,240000.00,1000000.0
X2,29958.0,1.604012,0.489070,1.0,1.00,2.0,2.00,2.0
X3,29958.0,1.853094,0.790471,0.0,1.00,2.0,2.00,6.0
X4,29958.0,1.551739,0.521952,0.0,1.00,2.0,2.00,3.0
X5,29958.0,35.483443,9.214319,21.0,28.00,34.0,41.00,79.0
X6,29958.0,-0.017124,1.123989,-2.0,-1.00,0.0,0.00,8.0
X7,29958.0,-0.134021,1.197171,-2.0,-1.00,0.0,0.00,8.0
X8,29958.0,-0.166767,1.196026,-2.0,-1.00,0.0,0.00,8.0
X9,29958.0,-0.221110,1.168419,-2.0,-1.00,0.0,0.00,8.0
X10,29958.0,-0.266807,1.132307,-2.0,-1.00,0.0,0.00,8.0
X11,29958.0,-0.291575,1.149303,-2.0,-1.00,0.0,0.00,8.0
X12,29958.0,51248.119901,73674.949943,-165580.0,3559.25,22379.0,67190.00,964511.0
X13,29958.0,49200.493825,71211.232744,-69777.0,2984.00,21194.5,64027.75,983931.0
X14,29958.0,47032.385273,69385.243340,-157264.0,2664.75,20085.5,60183.00,1664089.0
X15,29958.0,43279.335370,64364.684347,-170000.0,2327.50,19037.5,54551.25,891586.0
X16,29958.0,40328.984578,60826.219326,-81334.0,1762.25,18104.5,50220.75,927171.0
X17,29958.0,38889.925763,59582.883301,-339603.0,1256.00,17067.5,49234.75,961664.0
X18,29958.0,5664.614460,16568.823518,0.0,1000.00,2100.0,5007.00,873552.0
X19,29958.0,5925.715468,23055.983864,0.0,835.25,2009.0,5000.00,1684259.0
X20,29958.0,5228.429969,17617.338167,0.0,390.00,1800.0,4511.50,896040.0
X21,29958.0,4829.873556,15676.205514,0.0,296.25,1500.0,4014.75,621000.0
X22,29958.0,4801.481574,15285.552652,0.0,253.25,1500.0,4040.00,426529.0
X23,29958.0,5220.708025,17788.983767,0.0,118.00,1500.0,4000.00,528666.0
Y,29958.0,0.221143,0.415023,0.0,0.00,0.0,0.00,1.0

In [78]:
df[['X2']].sort_values('X2').value_counts()

X2
2.0    18095
1.0    11863
dtype: int64

In [80]:
df['X2'].unique().tolist()

[2.0, 1.0]

In [81]:
mode = df['X2'].mode()
mode[0]

2.0

In [88]:
df['X2'].replace(np.nan,mode[0], inplace=True)

In [58]:
df[['X3']].sort_values('X3').value_counts()

X3
2.0    14009
1.0    10572
3.0     4909
5.0      280
4.0      123
6.0       51
0.0       14
dtype: int64

In [83]:
df['X3'].unique().tolist()

[2.0, 1.0, 3.0, 5.0, 4.0, 6.0, 0.0]

In [84]:
mode = df['X3'].mode()
mode[0]

2.0

In [89]:
df['X3'].replace(np.nan,mode[0], inplace=True)

In [90]:
df[['X4']].sort_values('X4').value_counts()

X4
2.0    15939
1.0    13643
3.0      322
0.0       54
dtype: int64

In [96]:
df['X4'].unique().tolist()

[1.0, 2.0, 3.0, 0.0]

In [97]:
mode = df['X4'].mode()
mode[0]

2.0

In [100]:
df['X4'].replace(np.nan,mode[0],inplace=True)

In [60]:
df[['X5']].sort_values('X5').value_counts()

X5
29.0    1601
27.0    1475
28.0    1408
30.0    1393
26.0    1255
31.0    1216
25.0    1184
34.0    1161
32.0    1156
33.0    1145
24.0    1123
35.0    1113
36.0    1108
37.0    1040
39.0     954
38.0     943
23.0     931
40.0     868
41.0     820
42.0     794
44.0     700
43.0     669
45.0     617
46.0     569
22.0     559
47.0     498
48.0     466
49.0     450
50.0     411
51.0     339
53.0     325
52.0     304
54.0     246
55.0     208
56.0     177
57.0     122
58.0     122
59.0      83
60.0      67
21.0      67
61.0      56
62.0      44
63.0      31
64.0      31
66.0      25
65.0      24
67.0      16
69.0      15
70.0      10
68.0       5
73.0       4
71.0       3
72.0       3
75.0       2
74.0       1
79.0       1
dtype: int64

In [101]:
df['X5'].unique().tolist()

[24.0,
 26.0,
 34.0,
 37.0,
 57.0,
 29.0,
 23.0,
 28.0,
 35.0,
 51.0,
 41.0,
 30.0,
 49.0,
 39.0,
 40.0,
 27.0,
 47.0,
 33.0,
 32.0,
 54.0,
 58.0,
 22.0,
 31.0,
 25.0,
 46.0,
 42.0,
 43.0,
 45.0,
 56.0,
 44.0,
 53.0,
 38.0,
 63.0,
 36.0,
 52.0,
 48.0,
 55.0,
 60.0,
 50.0,
 61.0,
 73.0,
 59.0,
 21.0,
 67.0,
 66.0,
 62.0,
 70.0,
 72.0,
 64.0,
 65.0,
 71.0,
 69.0,
 68.0,
 79.0,
 75.0,
 74.0]

In [102]:
mode = df['X5'].mode()
mode[0]

29.0

In [103]:
df['X5'].replace(np.nan,mode[0], inplace=True)

In [61]:
df[['X6']].sort_values('X6').value_counts()

X6
 0.0    14717
-1.0     5680
 1.0     3678
-2.0     2758
 2.0     2662
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
dtype: int64

In [104]:
df['X6'].unique().tolist()

[2.0, -1.0, 0.0, -2.0, 1.0, 3.0, 4.0, 8.0, 7.0, 5.0, 6.0]

In [105]:
mode = df['X6'].mode()
mode[0]

0.0

In [106]:
df['X6'].replace(np.nan,mode[0], inplace=True)

In [62]:
df[['X7']].sort_values('X7').value_counts()

X7
 0.0    15709
-1.0     6042
 2.0     3918
-2.0     3778
 3.0      326
 4.0       99
 1.0       28
 5.0       25
 7.0       20
 6.0       12
 8.0        1
dtype: int64

In [107]:
df['X7'].unique().tolist()

[2.0, 0.0, -1.0, -2.0, 3.0, 5.0, 7.0, 4.0, 1.0, 6.0, 8.0]

In [108]:
mode = df['X7'].mode()
mode[0]

0.0

In [109]:
df['X7'].replace(np.nan,mode[0], inplace=True)

In [63]:
df[['X8']].sort_values('X8').value_counts()

X8
 0.0    15742
-1.0     5930
-2.0     4082
 2.0     3811
 3.0      240
 4.0       76
 7.0       27
 6.0       23
 5.0       21
 1.0        4
 8.0        2
dtype: int64

In [110]:
df['X8'].unique().tolist()

[-1.0, 0.0, 2.0, -2.0, 3.0, 4.0, 6.0, 7.0, 1.0, 5.0, 8.0]

In [111]:
mode = df['X8'].mode()
mode[0]

0.0

In [112]:
df['X8'].replace(np.nan,mode[0], inplace=True)

In [64]:
df[['X9']].sort_values('X9').value_counts()

X9
 0.0    16431
-1.0     5681
-2.0     4343
 2.0     3154
 3.0      179
 4.0       69
 7.0       57
 5.0       35
 6.0        5
 1.0        2
 8.0        2
dtype: int64

In [113]:
df['X9'].unique().tolist()

[-1.0, 0.0, -2.0, 2.0, 3.0, 4.0, 5.0, 7.0, 6.0, 1.0, 8.0]

In [114]:
mode = df['X9'].mode()
mode[0]

0.0

In [115]:
df['X9'].replace(np.nan,mode[0], inplace=True)

In [66]:
df[['X10']].sort_values('X10').value_counts()

X10
 0.0    16925
-1.0     5533
-2.0     4541
 2.0     2618
 3.0      178
 4.0       84
 7.0       57
 5.0       17
 6.0        4
 8.0        1
dtype: int64

In [116]:
df['X10'].unique().tolist()

[-2.0, 0.0, -1.0, 2.0, 3.0, 5.0, 4.0, 7.0, 8.0, 6.0]

In [117]:
mode = df['X10'].mode()
mode[0]

0.0

In [118]:
df['X10'].replace(np.nan,mode[0], inplace=True)

In [67]:
df[['X11']].sort_values('X11').value_counts()

X11
 0.0    16266
-1.0     5731
-2.0     4890
 2.0     2760
 3.0      183
 4.0       49
 7.0       46
 6.0       18
 5.0       13
 8.0        2
dtype: int64

In [119]:
df['X11'].unique().tolist()

[-2.0, 2.0, 0.0, -1.0, 3.0, 6.0, 4.0, 7.0, 8.0, 5.0]

In [120]:
mode = df['X11'].mode()
mode[0]

0.0

In [121]:
df['X11'].replace(np.nan,mode[0], inplace=True)

In [68]:
df[['X12']].sort_values('X12').value_counts()

X12
0.0         2006
390.0        243
780.0         76
326.0         72
316.0         63
            ...
24720.0        1
24717.0        1
24708.0        1
24689.0        1
964511.0       1
Length: 22696, dtype: int64

In [122]:
df['X12'].unique().tolist()

[3913.0,
 2682.0,
 29239.0,
 46990.0,
 8617.0,
 64400.0,
 367965.0,
 11876.0,
 11285.0,
 0.0,
 11073.0,
 12261.0,
 12137.0,
 65802.0,
 70887.0,
 50614.0,
 15376.0,
 253286.0,
 38358.0,
 316.0,
 41087.0,
 5512.0,
 4744.0,
 47620.0,
 -109.0,
 22541.0,
 650.0,
 15329.0,
 16646.0,
 30518.0,
 93036.0,
 10929.0,
 13709.0,
 30265.0,
 186503.0,
 15054.0,
 498.0,
 218668.0,
 67521.0,
 1877.0,
 59504.0,
 18927.0,
 14028.0,
 4463.0,
 22401.0,
 37042.0,
 61559.0,
 13465.0,
 41402.0,
 46224.0,
 1905.0,
 16386.0,
 175886.0,
 1587.0,
 400134.0,
 22848.0,
 70800.0,
 24987.0,
 28718.0,
 152519.0,
 2097.0,
 300.0,
 -190.0,
 18565.0,
 780.0,
 58267.0,
 9076.0,
 3048.0,
 14619.0,
 42838.0,
 291.0,
 28387.0,
 165254.0,
 23411.0,
 26324.0,
 131595.0,
 48909.0,
 130028.0,
 390.0,
 3826.0,
 81313.0,
 8583.0,
 138180.0,
 7524.0,
 -2000.0,
 880.0,
 45648.0,
 83725.0,
 3967.0,
 86009.0,
 18722.0,
 17973.0,
 672.0,
 -81.0,
 422069.0,
 44698.0,
 56685.0,
 5580.0,
 6108.0,
 713.0,
 171438.0,
 -103.0,
 105879.0,
 13244.0,
 135673.0,
 52128.0,
 19015.0,
 18199.0,
 326.0,
 14029.0,
 19660.0,
 50254.0,
 46004.0,
 304991.0,
 19115.0,
 110151.0,
 163736.0,
 3347.0,
 60521.0,
 4000.0,
 95.0,
 253454.0,
 227389.0,
 28452.0,
 10674.0,
 17444.0,
 7166.0,
 752.0,
 50801.0,
 1832.0,
 10131.0,
 12159.0,
 1199.0,
 4999.0,
 19269.0,
 197236.0,
 9168.0,
 -1100.0,
 86627.0,
 42444.0,
 208.0,
 208775.0,
 9014.0,
 23944.0,
 105420.0,
 196031.0,
 115785.0,
 12854.0,
 1234.0,
 141223.0,
 21148.0,
 101640.0,
 6093.0,
 102349.0,
 72112.0,
 28040.0,
 37695.0,
 688.0,
 8567.0,
 6187.0,
 48860.0,
 16001.0,
 77883.0,
 12212.0,
 49608.0,
 58024.0,
 10642.0,
 14483.0,
 2616.0,
 199436.0,
 21703.0,
 59901.0,
 19625.0,
 11386.0,
 14670.0,
 47790.0,
 36166.0,
 18553.0,
 412.0,
 29010.0,
 750.0,
 27123.0,
 13424.0,
 107314.0,
 226430.0,
 227.0,
 3088.0,
 81625.0,
 8872.0,
 105607.0,
 38257.0,
 28347.0,
 296573.0,
 -946.0,
 79278.0,
 89989.0,
 105167.0,
 335196.0,
 291619.0,
 91653.0,
 52626.0,
 130370.0,
 3265.0,
 16455.0,
 49758.0,
 19154.0,
 35084.0,
 20235.0,
 102800.0,
 58203.0,
 7988.0,
 127402.0,
 1440.0,
 234205.0,
 47174.0,
 26655.0,
 3139.0,
 142.0,
 46140.0,
 35713.0,
 50867.0,
 29242.0,
 101551.0,
 70243.0,
 19532.0,
 27699.0,
 1154.0,
 8015.0,
 62170.0,
 210380.0,
 78331.0,
 49276.0,
 4473.0,
 2283.0,
 10115.0,
 6156.0,
 6974.0,
 89003.0,
 34871.0,
 13694.0,
 70003.0,
 1082.0,
 11253.0,
 68699.0,
 171.0,
 1156.0,
 50859.0,
 103109.0,
 1512.0,
 127543.0,
 163935.0,
 53494.0,
 195126.0,
 110346.0,
 60502.0,
 180641.0,
 70896.0,
 8751.0,
 898.0,
 1700.0,
 7015.0,
 194353.0,
 1686.0,
 143225.0,
 58983.0,
 99209.0,
 49941.0,
 11968.0,
 871.0,
 432.0,
 10483.0,
 9720.0,
 20847.0,
 3697.0,
 143301.0,
 10934.0,
 52439.0,
 55734.0,
 49507.0,
 47819.0,
 48522.0,
 -2.0,
 58362.0,
 172180.0,
 1399.0,
 26361.0,
 93029.0,
 24898.0,
 50396.0,
 99855.0,
 -179.0,
 9559.0,
 10540.0,
 20571.0,
 143464.0,
 156882.0,
 46512.0,
 882.0,
 92.0,
 5916.0,
 2393.0,
 274731.0,
 145403.0,
 3097.0,
 1370.0,
 47081.0,
 138119.0,
 17893.0,
 39128.0,
 -14386.0,
 77057.0,
 15899.0,
 27679.0,
 141315.0,
 194314.0,
 83755.0,
 49657.0,
 507726.0,
 71305.0,
 45734.0,
 761.0,
 -9.0,
 47166.0,
 2887.0,
 20631.0,
 83538.0,
 99.0,
 34302.0,
 22987.0,
 173267.0,
 19143.0,
 20518.0,
 10833.0,
 69937.0,
 20526.0,
 89055.0,
 1894.0,
 100594.0,
 2948.0,
 22619.0,
 338106.0,
 63144.0,
 153249.0,
 1131.0,
 -1312.0,
 103797.0,
 20110.0,
 38000.0,
 142428.0,
 40810.0,
 104701.0,
 120298.0,
 156362.0,
 41322.0,
 1464.0,
 27879.0,
 160432.0,
 3858.0,
 26476.0,
 507062.0,
 55607.0,
 168382.0,
 29332.0,
 190.0,
 13668.0,
 14867.0,
 22500.0,
 7184.0,
 14811.0,
 44338.0,
 25265.0,
 169661.0,
 10237.0,
 104978.0,
 192586.0,
 11262.0,
 9551.0,
 199.0,
 70119.0,
 212601.0,
 91894.0,
 304867.0,
 48123.0,
 159760.0,
 9210.0,
 234752.0,
 14072.0,
 61807.0,
 51044.0,
 77024.0,
 350.0,
 83831.0,
 122923.0,
 246135.0,
 37304.0,
 146433.0,
 46122.0,
 38564.0,
 96304.0,
 467150.0,
 255691.0,
 156786.0,
 78129.0,
 40034.0,
 71034.0,
 23974.0,
 819.0,
 50927.0,
 152510.0,
 1689.0,
 20807.0,
 30141.0,
 208459.0,
 212795.0,
 28114.0,
 59372.0,
 6160.0,
 355215.0,
 366193.0,
 2927.0,
 29295.0,
 4158.0,
 27199.0,
 50893.0,
 66759.0,
 600.0,
 44930.0,
 131367.0,
 41264.0,
 77604.0,
 2491.0,
 177554.0,
 6865.0,
 93768.0,
 396.0,
 16426.0,
 573.0,
 28703.0,
 98560.0,
 28304.0,
 8574.0,
 508.0,
 203183.0,
 16440.0,
 66.0,
 15912.0,
 20344.0,
 23132.0,
 221590.0,
 19161.0,
 3959.0,
 42238.0,
 21507.0,
 884.0,
 1261.0,
 240.0,
 20223.0,
 29509.0,
 18355.0,
 94265.0,
 68739.0,
 13917.0,
 10250.0,
 93844.0,
 16496.0,
 -58.0,
 1210.0,
 111496.0,
 67374.0,
 1692.0,
 18649.0,
 160837.0,
 -8.0,
 18763.0,
 34549.0,
 97538.0,
 4073.0,
 53849.0,
 2411.0,
 480.0,
 330759.0,
 92007.0,
 3257.0,
 92638.0,
 399.0,
 28778.0,
 30092.0,
 12339.0,
 50620.0,
 -65.0,
 2403.0,
 52437.0,
 4657.0,
 28204.0,
 50715.0,
 35285.0,
 37850.0,
 5233.0,
 65299.0,
 17208.0,
 57192.0,
 5780.0,
 640.0,
 631.0,
 108351.0,
 834.0,
 7244.0,
 13141.0,
 7071.0,
 35429.0,
 18751.0,
 55788.0,
 49809.0,
 10900.0,
 3128.0,
 3367.0,
 279610.0,
 475.0,
 5994.0,
 5197.0,
 7797.0,
 35785.0,
 1433.0,
 77766.0,
 50300.0,
 14603.0,
 8817.0,
 131575.0,
 5841.0,
 30341.0,
 83255.0,
 34976.0,
 48747.0,
 56700.0,
 144678.0,
 268112.0,
 79243.0,
 -475.0,
 23396.0,
 17862.0,
 26450.0,
 22746.0,
 9214.0,
 40882.0,
 3996.0,
 44177.0,
 3280.0,
 48226.0,
 36650.0,
 115049.0,
 21724.0,
 137807.0,
 58839.0,
 80833.0,
 36146.0,
 340.0,
 7624.0,
 491.0,
 13168.0,
 60040.0,
 660.0,
 29434.0,
 4430.0,
 26795.0,
 16591.0,
 46486.0,
 550.0,
 5630.0,
 21986.0,
 60125.0,
 56364.0,
 148363.0,
 100143.0,
 46255.0,
 276436.0,
 29493.0,
 214450.0,
 35369.0,
 77615.0,
 186149.0,
 21075.0,
 14348.0,
 20137.0,
 -200.0,
 8177.0,
 2082.0,
 13820.0,
 46923.0,
 53261.0,
 427.0,
 14150.0,
 42856.0,
 1034.0,
 5137.0,
 24114.0,
 130067.0,
 61611.0,
 25078.0,
 97002.0,
 5766.0,
 99568.0,
 12857.0,
 96193.0,
 2400.0,
 97797.0,
 64762.0,
 145613.0,
 71989.0,
 3345.0,
 29033.0,
 26650.0,
 4259.0,
 106468.0,
 247276.0,
 1548.0,
 162671.0,
 123049.0,
 51372.0,
 60015.0,
 1170.0,
 159398.0,
 55664.0,
 43528.0,
 27966.0,
 8792.0,
 28026.0,
 43610.0,
 8109.0,
 52515.0,
 22582.0,
 15448.0,
 58102.0,
 12289.0,
 10476.0,
 16326.0,
 17681.0,
 47912.0,
 18886.0,
 203.0,
 34962.0,
 80964.0,
 69418.0,
 45174.0,
 23892.0,
 7960.0,
 9192.0,
 25935.0,
 7139.0,
 12865.0,
 -14.0,
 49549.0,
 546.0,
 9935.0,
 152856.0,
 1278.0,
 46132.0,
 27345.0,
 101593.0,
 142764.0,
 92849.0,
 17330.0,
 109863.0,
 1064.0,
 56764.0,
 43048.0,
 29484.0,
 21310.0,
 10821.0,
 280823.0,
 37647.0,
 84710.0,
 48036.0,
 43346.0,
 873.0,
 110163.0,
 4113.0,
 9636.0,
 25103.0,
 31319.0,
 43343.0,
 197.0,
 7967.0,
 19450.0,
 240878.0,
 2115.0,
 81665.0,
 11442.0,
 158.0,
 2257.0,
 10733.0,
 11026.0,
 113869.0,
 7363.0,
 29649.0,
 12716.0,
 1438.0,
 47858.0,
 40732.0,
 79580.0,
 87764.0,
 31421.0,
 929.0,
 2648.0,
 11894.0,
 55064.0,
 25382.0,
 -54.0,
 5335.0,
 -288.0,
 46750.0,
 97062.0,
 13801.0,
 15355.0,
 37148.0,
 385.0,
 20610.0,
 2000.0,
 6666.0,
 31037.0,
 25239.0,
 998.0,
 16754.0,
 31061.0,
 2694.0,
 70096.0,
 99259.0,
 24921.0,
 66055.0,
 213738.0,
 54968.0,
 4101.0,
 2605.0,
 15380.0,
 48861.0,
 55336.0,
 20243.0,
 11058.0,
 27087.0,
 8755.0,
 3035.0,
 20944.0,
 2007.0,
 24310.0,
 152478.0,
 17246.0,
 1598.0,
 22895.0,
 15069.0,
 88948.0,
 79318.0,
 67648.0,
 315201.0,
 4290.0,
 205064.0,
 47647.0,
 151117.0,
 726.0,
 20035.0,
 29095.0,
 30400.0,
 44733.0,
 4987.0,
 26957.0,
 26461.0,
 50485.0,
 131041.0,
 20218.0,
 1086.0,
 2450.0,
 15915.0,
 43515.0,
 28234.0,
 119333.0,
 29109.0,
 105192.0,
 310403.0,
 14591.0,
 35660.0,
 13655.0,
 4453.0,
 2946.0,
 30606.0,
 45335.0,
 5924.0,
 23587.0,
 15294.0,
 4935.0,
 224020.0,
 47917.0,
 51737.0,
 49605.0,
 1544.0,
 2488.0,
 24401.0,
 149445.0,
 772.0,
 13611.0,
 28408.0,
 137574.0,
 238.0,
 100.0,
 92610.0,
 131864.0,
 11315.0,
 3877.0,
 4036.0,
 168286.0,
 154970.0,
 57364.0,
 27772.0,
 4187.0,
 22431.0,
 7010.0,
 79837.0,
 86014.0,
 386405.0,
 68075.0,
 17187.0,
 19882.0,
 54969.0,
 471814.0,
 22109.0,
 27245.0,
 8481.0,
 1371.0,
 27391.0,
 11392.0,
 5902.0,
 50342.0,
 10737.0,
 1242.0,
 68411.0,
 9955.0,
 1989.0,
 7851.0,
 16906.0,
 21062.0,
 47585.0,
 11874.0,
 15548.0,
 5150.0,
 42543.0,
 4785.0,
 1200.0,
 3779.0,
 15854.0,
 219099.0,
 47069.0,
 190258.0,
 12897.0,
 81074.0,
 10889.0,
 3135.0,
 2410.0,
 117126.0,
 21780.0,
 6206.0,
 4439.0,
 1338.0,
 8201.0,
 33781.0,
 27826.0,
 14937.0,
 294827.0,
 996.0,
 42784.0,
 74189.0,
 11973.0,
 133461.0,
 10159.0,
 50.0,
 134203.0,
 49609.0,
 6174.0,
 666.0,
 5591.0,
 148747.0,
 63903.0,
 34423.0,
 45106.0,
 44801.0,
 49860.0,
 1018.0,
 134736.0,
 286732.0,
 62847.0,
 58300.0,
 1215.0,
 57376.0,
 279846.0,
 39716.0,
 113348.0,
 94453.0,
 81865.0,
 4989.0,
 456.0,
 2937.0,
 166246.0,
 19785.0,
 80000.0,
 164736.0,
 2744.0,
 29747.0,
 79148.0,
 92961.0,
 129689.0,
 2198.0,
 131795.0,
 -55.0,
 4148.0,
 69398.0,
 142827.0,
 138398.0,
 9918.0,
 4040.0,
 153099.0,
 62198.0,
 11343.0,
 -5.0,
 30374.0,
 1107.0,
 764.0,
 652.0,
 64195.0,
 -1540.0,
 43356.0,
 11109.0,
 149698.0,
 43979.0,
 2562.0,
 70.0,
 1292.0,
 55349.0,
 90922.0,
 16233.0,
 26847.0,
 162105.0,
 42897.0,
 3000.0,
 34704.0,
 279.0,
 10000.0,
 28033.0,
 70476.0,
 1350.0,
 18852.0,
 115056.0,
 15890.0,
 20255.0,
 20500.0,
 9928.0,
 10750.0,
 284204.0,
 120151.0,
 29278.0,
 21586.0,
 87579.0,
 2159.0,
 32691.0,
 1477.0,
 148341.0,
 47615.0,
 -19.0,
 94925.0,
 204198.0,
 172041.0,
 2384.0,
 61383.0,
 8425.0,
 34735.0,
 47054.0,
 57314.0,
 108616.0,
 354506.0,
 28786.0,
 36513.0,
 22578.0,
 215316.0,
 198510.0,
 48657.0,
 244663.0,
 2343.0,
 36802.0,
 5816.0,
 24238.0,
 18256.0,
 1723.0,
 18648.0,
 6614.0,
 7812.0,
 1188.0,
 76962.0,
 31089.0,
 83687.0,
 3424.0,
 84148.0,
 12633.0,
 38607.0,
 11862.0,
 80463.0,
 ...]

In [123]:
mode = df['X12'].mode()
mode[0]

0.0

In [124]:
df['X12'].replace(np.nan,mode[0],inplace=True)

In [69]:
df[['Y']].sort_values('Y').value_counts()

Y
0.0    23333
1.0     6625
dtype: int64

In [125]:
df['Y'].unique().tolist()

[1.0, 0.0]

In [126]:
mode = df['Y'].mode()
mode[0]

0.0

In [127]:
df['Y'].replace(np.nan,mode[0],inplace=True)

5: Realiza el conteo de las variables categóricas

In [134]:
Categorico= df[['X2','X3','X4','X6','X7','X8','X9','X10', 'X11','Y',]]
Categorico.head()

     X2   X3   X4   X6   X7   X8   X9  X10  X11    Y
ID
1   2.0  2.0  1.0  2.0  2.0 -1.0 -1.0 -2.0 -2.0  1.0
2   2.0  2.0  2.0 -1.0  2.0  0.0  0.0  0.0  2.0  1.0
3   2.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   2.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   1.0  2.0  1.0 -1.0  0.0 -1.0  0.0  0.0  0.0  0.0

In [136]:
print(Categorico)

        X2   X3   X4   X6   X7   X8   X9  X10  X11    Y
ID
1      2.0  2.0  1.0  2.0  2.0 -1.0 -1.0 -2.0 -2.0  1.0
2      2.0  2.0  2.0 -1.0  2.0  0.0  0.0  0.0  2.0  1.0
3      2.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      2.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5      1.0  2.0  1.0 -1.0  0.0 -1.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
29996  1.0  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29997  1.0  3.0  2.0 -1.0 -1.0 -1.0 -1.0  0.0  0.0  0.0
29998  1.0  2.0  2.0  4.0  3.0  2.0 -1.0  0.0  0.0  1.0
29999  1.0  3.0  1.0  1.0 -1.0  0.0  0.0  0.0 -1.0  1.0
30000  1.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[29958 rows x 10 columns]

6: Escala los datos, si consideras necesario

In [153]:
Escalamiento = StandardScaler()
X_Escalamiento = df.copy().drop('Y', axis= 1)
Y = df[['Y']]
X_Escalamiento[['X1', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23']] = Escalamiento.fit_transform(X_Escalamiento[['X1', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23']])
X_Escalamiento.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
ID,,,,,,,,,,,,,,,,,,,,,
1,-1.137363,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,-0.667925,-0.672419,-0.663031,-0.652714,-0.341890,-0.227134,-0.296782,-0.308107,-0.314124,-0.293485
2,-0.366561,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,-0.639201,-0.621583,-0.606229,-0.597982,-0.341890,-0.213645,-0.240019,-0.244315,-0.314124,-0.181054
3,-0.597802,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,-0.482436,-0.449762,-0.417277,-0.391745,-0.250270,-0.191958,-0.240019,-0.244315,-0.248702,-0.012407
4,-0.906122,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,0.032552,-0.232512,-0.186929,-0.156808,-0.221179,-0.169448,-0.228667,-0.237936,-0.244188,-0.237269
5,-0.906122,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,-0.161383,-0.347080,-0.348260,-0.331626,-0.221179,1.333962,0.270850,0.266021,-0.269048,-0.255314

In [161]:
YoEscalono = MinMaxScaler()
YoEscalono = YoEscalono.fit_transform(df)
YoEscalono_df= pd.DataFrame (YoEscalono, columns=df.columns)
YoEscalono_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,0.010101,1.0,0.333333,0.333333,0.051724,0.4,0.4,0.1,0.1,0.0,...,0.160138,0.080648,0.260979,0.000000,0.000409,0.000000,0.000000,0.000000,0.000000,1.0
1,0.111111,1.0,0.333333,0.666667,0.086207,0.1,0.4,0.2,0.2,0.2,...,0.163220,0.084074,0.263485,0.000000,0.000594,0.001116,0.001610,0.000000,0.003783,1.0
2,0.080808,1.0,0.333333,0.666667,0.224138,0.2,0.2,0.2,0.2,0.2,...,0.173637,0.095470,0.272928,0.001738,0.000891,0.001116,0.001610,0.002345,0.009458,0.0
3,0.040404,1.0,0.333333,0.333333,0.275862,0.2,0.2,0.2,0.2,0.2,...,0.186809,0.109363,0.283685,0.002290,0.001199,0.001339,0.001771,0.002506,0.001892,0.0
4,0.040404,0.0,0.333333,0.333333,0.620690,0.1,0.2,0.1,0.2,0.2,...,0.179863,0.099633,0.275681,0.002290,0.021779,0.011160,0.014493,0.001615,0.001284,0.0

In [170]:
print(YoEscalono_df)
print(YoEscalono_df.head())

             X1   X2        X3        X4        X5   X6   X7   X8   X9  X10  \
0      0.010101  1.0  0.333333  0.333333  0.051724  0.4  0.4  0.1  0.1  0.0
1      0.111111  1.0  0.333333  0.666667  0.086207  0.1  0.4  0.2  0.2  0.2
2      0.080808  1.0  0.333333  0.666667  0.224138  0.2  0.2  0.2  0.2  0.2
3      0.040404  1.0  0.333333  0.333333  0.275862  0.2  0.2  0.2  0.2  0.2
4      0.040404  0.0  0.333333  0.333333  0.620690  0.1  0.2  0.1  0.2  0.2
...         ...  ...       ...       ...       ...  ...  ...  ...  ...  ...
29995  0.212121  0.0  0.500000  0.333333  0.310345  0.2  0.2  0.2  0.2  0.2
29996  0.141414  0.0  0.500000  0.666667  0.379310  0.1  0.1  0.1  0.1  0.2
29997  0.020202  0.0  0.333333  0.666667  0.275862  0.6  0.5  0.4  0.1  0.2
29998  0.070707  0.0  0.500000  0.333333  0.344828  0.3  0.1  0.2  0.2  0.2
29999  0.040404  0.0  0.333333  0.333333  0.431034  0.2  0.2  0.2  0.2  0.2

       ...       X15       X16       X17       X18       X19       X20  \
0      ...  0.160138  0.080648  0.260979  0.000000  0.000409  0.000000
1      ...  0.163220  0.084074  0.263485  0.000000  0.000594  0.001116
2      ...  0.173637  0.095470  0.272928  0.001738  0.000891  0.001116
3      ...  0.186809  0.109363  0.283685  0.002290  0.001199  0.001339
4      ...  0.179863  0.099633  0.275681  0.002290  0.021779  0.011160
...    ...       ...       ...       ...       ...       ...       ...
29995  ...  0.243036  0.111622  0.273259  0.009730  0.011875  0.005583
29996  ...  0.168596  0.085794  0.260979  0.002103  0.002094  0.010042
29997  ...  0.179805  0.101057  0.275854  0.000000  0.000000  0.024552
29998  ...  0.209850  0.092403  0.298591  0.098334  0.002024  0.001315
29999  ...  0.194553  0.112803  0.272746  0.002379  0.001069  0.001596

            X21       X22       X23    Y
0      0.000000  0.000000  0.000000  1.0
1      0.001610  0.000000  0.003783  1.0
2      0.001610  0.002345  0.009458  0.0
3      0.001771  0.002506  0.001892  0.0
4      0.014493  0.001615  0.001284  0.0
...         ...       ...       ...  ...
29995  0.004907  0.011723  0.001892  0.0
29996  0.000208  0.000000  0.000000  0.0
29997  0.006763  0.004689  0.005864  1.0
29998  0.003101  0.124174  0.003412  1.0
29999  0.001610  0.002345  0.001892  1.0

[30000 rows x 24 columns]
         X1   X2        X3        X4        X5   X6   X7   X8   X9  X10  ...  \
0  0.010101  1.0  0.333333  0.333333  0.051724  0.4  0.4  0.1  0.1  0.0  ...
1  0.111111  1.0  0.333333  0.666667  0.086207  0.1  0.4  0.2  0.2  0.2  ...
2  0.080808  1.0  0.333333  0.666667  0.224138  0.2  0.2  0.2  0.2  0.2  ...
3  0.040404  1.0  0.333333  0.333333  0.275862  0.2  0.2  0.2  0.2  0.2  ...
4  0.040404  0.0  0.333333  0.333333  0.620690  0.1  0.2  0.1  0.2  0.2  ...

        X15       X16       X17       X18       X19       X20       X21  \
0  0.160138  0.080648  0.260979  0.000000  0.000409  0.000000  0.000000
1  0.163220  0.084074  0.263485  0.000000  0.000594  0.001116  0.001610
2  0.173637  0.095470  0.272928  0.001738  0.000891  0.001116  0.001610
3  0.186809  0.109363  0.283685  0.002290  0.001199  0.001339  0.001771
4  0.179863  0.099633  0.275681  0.002290  0.021779  0.011160  0.014493

        X22       X23    Y
0  0.000000  0.000000  1.0
1  0.000000  0.003783  1.0
2  0.002345  0.009458  0.0
3  0.002506  0.001892  0.0
4  0.001615  0.001284  0.0

[5 rows x 24 columns]

7: Reduce las dimensiones con PCA, si consideras necesario.

7:1 : Indica la varianza de los datos explicada por cada componente seleccionado. Para actividades de exploración de los datos la varianza > 70%

7:2: Indica la importancia de las variables en cada componente

8: Elabora los histogramas de los atributos para visualizar su distribución

9: Realiza la visualización de los datos usando por lo menos 3 gráficos que consideres adecuados: plot, scatter, jointplot, boxplot, areaplot, pie chart, pairplot, bar chart, etc.

10: Interpreta y explica cada uno de los gráficos indicando cuál es la información más relevante que podría ayudar en el proceso de toma de decisiones