<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1.  Display the first three rows:

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

<details><summary>Click here for the solution</summary>

```python
df.head(3)
    
```

</details>

2.  Obtain column  <code> 'a' </code>:

In [3]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

<details><summary>Click here for the solution</summary>

```python
df['a']
    
```

</details>

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>